# Node.js зависимости
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Собранные файлы
dist/

# Логи
logs/
*.log

# Директория с загруженными изображениями
uploads/
temp/
# Файлы среды разработки
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Файлы редактора
.vscode/
.idea/
*.swp
*.swo
.DS_Store